@import 'config';

.blog-post {
    padding: 32px 0px;
    > .content {
        font-size: 20px;
        padding: 24px 0px;
    }
    h2,
    h3 {
        margin-bottom: 16px;
        text-transform: uppercase;
        display: inline-block;
        padding: 15px 20px 10px 20px;
        border: 0.02em solid $grey-dark;
        transition: box-shadow 0.1s ease;
        &:hover {
            cursor: pointer;
            background-color: $red;
        }
    }
}
